.screen {
  padding: 16px;
  height: 380px;
  width: 600px;
  /* background-color: hsla(210, 50%, 40%, 0.6); */
  background-color: rgba(37, 33, 28, 0.8);
  box-shadow: 0 0 0 6px rgba(80, 71, 60, 0.6);
}

.inventory {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  text-shadow:
    1px 1px 0 #000,
    2px 2px 0 rgba(0, 0, 0, 0.5);
  height: 100%;
}

.user {
  color: rgb(51, 255, 0);
}

.buttons {
  display: flex;
  gap: 16px;
  padding-bottom: 16px;
}

.greeting {
  flex: 1;
  font-size: 1.2em;
  font-weight: bold;
  padding: 16px;
  background-color: rgb(128, 120, 110, 0.4);
  border-radius: 4px;
  letter-spacing: 0.05em;
  color: gold;
  overflow: hidden;
}

.greeting h3 {
  margin-bottom: 16px;
}

.text {
  font-size: 0.9em;
  color: beige;
}
