.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
}

.inputs {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
  background-color: rgb(128, 120, 110, 0.6);
  padding: 16px;
  color: gold;
}

.error {
  color: rgb(255, 51, 0);
  text-shadow:
    1px 1px 0 #000,
    1px 1px 0 rgba(0, 0, 0, 0.5);
}

.title {
  margin: 0;
  font-size: 24px;
  text-align: center;
  text-shadow:
    1px 1px 0 #000,
    2px 2px 0 rgba(0, 0, 0, 0.5);
}

.buttons {
  flex: 0;
  display: flex;
  justify-content: flex-end;
  display: flex;
  padding: 16px 0;
  gap: 8px;
}
