.inputWrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 52px;
  padding: 0 16px;

  width: 100%;

  background: linear-gradient(#3a3a3a, #2a2a2a);
  border: 2px solid #1f1f1f;

  box-shadow:
    inset 0 4px 0 rgba(255, 255, 255, 0.15),
    inset 0 -2px 0 rgba(0, 0, 0, 0.6);

  image-rendering: pixelated;

  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.inputWrapper:focus-within {
  border-color: #6aa84f;
  box-shadow:
    inset 0 4px 0 rgba(255, 255, 255, 0.15),
    inset 0 -2px 0 rgba(0, 0, 0, 0.6),
    0 0 8px rgba(106, 168, 79, 0.7);
}

.input {
  flex: 1;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;

  padding-left: 32px;

  color: #e6e6e6;
  text-shadow:
    1px 1px 0 #000,
    2px 2px 0 rgba(0, 0, 0, 0.7);
  letter-spacing: 1px;

  font-size: 18px;
  caret-color: #6aa84f;
}

.input:focus {
  outline: none;
}

.icon {
  position: absolute;
  left: 16px;
  display: inline-flex;
  height: 100%;
  width: 22px;
  align-items: center;
  justify-content: center;

  margin-right: 10px;
  font-size: 18px;
  opacity: 1;
  pointer-events: none;
}
