.maximizeButton {
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;
  padding: 0;
  background: transparent;
}

.maximizeButtonImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: filter 0.3s ease;
}
.maximizeButton:hover .maximizeButtonImg {
  filter: brightness(0.8);
}
.maximizeButton:active .maximizeButtonImg {
  filter: brightness(0.6);
}
