.screen {
  padding: 16px;
  height: 380px;
  width: 580px;
  /* background-color: hsla(210, 50%, 40%, 0.6); */
  background-color: rgba(37, 33, 28, 0.8);
  box-shadow: 0 0 0 6px rgba(80, 71, 60, 0.6);
  display: flex;
  flex-direction: column;
}
