.layout {
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.background {
  position: absolute;
  inset: 0;
  filter: saturate(1.1);
  z-index: 0;
  top: 0;
  left: 0;
}

.backgroundImage {
  inset: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  pointer-events: none;
}

.frontImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.titleImage {
  object-fit: cover;
} */

.title {
  height: 140px;
}

.titleImage {
  height: 100%;
  object-fit: contain;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5rem;
  padding-top: 3rem;
  gap: 24px;
}
