.wrapper {
  width: 100%;
  padding: 8px 12px;

  display: flex;
  align-items: center;

  /* background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); */

  overflow: hidden;
}

.text {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}
