.wrapper {
  width: 100%;
  position: relative;

  font-size: 14px;
  line-height: 1.5;
  /* color: rgba(255, 255, 255, 0.85); */

  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;

  text-overflow: ellipsis;
  word-break: break-word;

  padding: 10px 14px;

  /* background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); */

  /* border-radius: 12px;

  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5); */

  mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
}

.cursor {
  display: inline-block;
  width: 8px;
  height: 1.2em;
  margin-left: 2px;

  background: rgba(255, 255, 255, 0.8);

  animation: blink 1.5s infinite;
  vertical-align: top;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
