.titleBar2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  box-sizing: border-box;
}

.title {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
  color: white;
  -webkit-app-region: drag;
  user-select: none;
  width: 100%;
  height: 48px;

  display: flex;
  align-items: center;
}

.titleImg {
  position: relative;
  width: auto;
  height: 36px;
  object-fit: contain;
}

.titleText {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow:
    -1px -1px 0 #000,
    -2px -2px 0 rgba(0, 0, 0, 0.5);
  color: gold;
  opacity: 0.9;
}

.windowControls {
  user-select: none;
  display: flex;
  gap: 4px;
  height: 100%;
  -webkit-app-region: no-drag;
  padding: 0 8px;
}
